$color-1: #DAD735;
$color-2: #a8620d;
$color-3: #CF8F2E; 
$color-4: #AA6817; 
$color-5: #966909;
$color-6: #A0DB41; 
$color-7: #ccc;
$color-8: #AC9980;
$color-9: #AC9980;
$color-9: #703B09;
$color-hover: #8F5C2C;
$border: #40A4C8;
$color-white: #fff;
$color-red: rgb(83, 0, 0);  
$color-red-2: rgb(143, 0, 0);  


$border-bottom:  1px solid $color-4;
