.Burger{
    font-size: 1.2rem;
    font-weight:bold ;
    text-align:center; 
    overflow: auto;
    width:100%;
    margin:auto;
    height:50rem;   
    grid-column: burger-start 1 / burger-end 4;
    grid-row: 2 / 3;
    margin: 10rem auto -2rem auto;

    &__add {
        font-size: 2rem;
    }

    @include respond(tab-port){
        grid-column: full-start / full-end ; 
        height: 80rem;
        &__add{
            font-size: 3.5rem; 
        } 
    }
}   