.BuildControl {
    &__ings{
        display: grid;
        grid-template-columns: repeat(3, 8rem);
        justify-items: center;
        align-items: center;

        @include respond(tab-port){
            grid-column-gap: 10rem;
        }

        @include respond(phone){
            grid-column-gap: 10rem;
        }
    }

    &__Label {
        font-size: 2rem;
        font-weight: 700;
        justify-content: center;
        @include respond(tab-port){
            font-size: 3.5rem;
        }

        @include respond(phone){
            grid-column: 1 / 2;
            font-size: 3.5rem;
        }
    }

    &__More {
        justify-content: center;
        @include button;
        background-color: $color-2;
            @include respond(phone){
                grid-column: 3 / 4;
            }
    }

    &__Less {
        @include button;
        background-color: $color-3;
        @include respond(phone){
            grid-column: 2 / 3 ;
        }
    }
}   