.checkout {
    display: grid;
    grid-template-columns: 1fr 30% 1fr;
    grid-template-rows: 1fr 60% 1fr;
    background-color:  rgba(black, 0.5) ;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    transition: all .3s;

    @include respond(tab-port){
        grid-template-columns: 1fr 80% 1fr;
    }

    &__content {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        background-color:rgba(255, 255, 255, 0.85);
        border-radius: 10px;
        overflow: hidden;
        animation: modell .4s ;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__burger {
        width: 80%;
        height: 70%;
        grid-row: 2 / 3;
        position: relative;
        z-index: 1;
    }

    &__header {
        grid-row: 1 / 2;
        margin: 2rem 0 -8rem 0;
        font-size: 2.5rem;
        @include respond(tab-port){
            font-size: 4.5rem;
        }
    }

    &__ok{
        grid-row: 3 / 4;
        font-size: 2rem;
        background-color: $color-9;
        padding: 2rem;
        color: white;
        border-radius: .5rem;
        margin-bottom: 2rem;
        text-decoration: none;
        transition: all .3s;
        position: relative;
        z-index: 10;
        &:hover {
            background-color: rgba($color-9, .7);
        }

        &:focus{
            outline: none;
        }
        @include respond(tab-port){
            font-size: 4rem;
            padding: 3rem;
            border-radius: 1rem;
        }
    }
}